<div class="wrapper">
  <div class="icons">
    <img class="back icon" (click)="backClicked()" src="../assets/back-icon.png">
    <img class="icon" src="../assets/edit-icon.png" (click)="toggleVisibility()">
  </div>
  <div>
    <p>Title: {{issue.title}}</p>
    <p>Description: {{issue.description}}</p>
    <p>Status: {{issue.status}}</p>
    <p>Type: {{issue.type}}</p>
    <p>Sprint: {{issue.sprint}}</p>
    <p>Tasks : {{issue.tasks}}</p>
    <p>Assignee: {{issue.assignee}}</p>
    <p>Created By: {{issue.createdBy}}</p>
    <p>Comments: {{issue.comments}}</p>
    <p>Updated At: {{issue.updatedAt}}</p>
    <p>Created At: {{issue.createdAt}}</p>
  </div>
</div>
<div *ngIf="visible" class="form-container">
    <app-edit-form (action)="myValueChange($event);" [issue]="issue"></app-edit-form>
</div>
