<div class="body">
  <div class="button" (click)="toggleVisibility()" >Add New Project</div>
  <div class="projects-container">
    <div class="project" *ngFor="let project of projects">
      <a routerLink="/detail/{{project.id}}"><p class="title">Project: {{project.title}}</p></a>
      <p class="description">Description: {{project.description}}</p>
      <div class="sprints" *ngIf="project.issues.length !== 0; else noIssues">Issues:
        <p *ngFor="let issue of project.issues">-{{issue.title}}</p>
      </div>
      <ng-template #noIssues>
          <div class="noSprints">No Issues Yet!</div>
      </ng-template>
      <div class="sprints" *ngIf="project.sprints.length !== 0; else noSprints">Sprints:
        <p *ngFor="let sprint of project.sprints">-{{sprint.title}}</p>
      </div>
      <ng-template #noSprints>
          <div class="noSprints">No Sprints Yet!</div>
      </ng-template>
    </div>
    <div *ngIf="!projects" class="error">No projects available at the moment.</div>
  </div>
  <div *ngIf="visible" class="form-container">
      <form name="form" class="form" novalidate>
          <div class="form-header">
            <p>Add new Project</p>
            <img src="../assets/exit-icon.png" class="icon" (click)="toggleVisibility()">
          </div>
          <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
        
          </div>
          <div class="form-group">
              <label for="description">Description</label>
              <input type="text" class="form-control" name="description" [(ngModel)]="model.description" #description="ngModel" required />
             
          </div>
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary" (click)="addProject();">Save</button>
              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              <button (click)="toggleVisibility()" class="btn btn-link">Cancel</button>
          </div>
      </form>
  </div>
</div>