<div class="wrapper">
  <h3>Current Project: {{project?.title}} with {{project?.sprints.length}} sprint/s</h3>
  <div class="color-map-container">
    <div class="color-map red">Bug</div>
    <div class="color-map green">Task</div>
    <div class="color-map blue">Feature</div>
  </div>
  <div class="buttons">
    <img class="back-icon" (click)="backClicked()" src="../assets/back-icon.png">
    <div class="button" (click)="toggleVisibility()">Add New Sprint</div>
  </div>
  <div class="sprints">
    <div *ngIf="sprints?.length !== 0; else noSprints">
      <div class="sprint" *ngFor="let sprint of sprints">
        <div class="sprint-header">
          <h2>{{sprint?.title}}</h2>
          <div class="icons">
            <img src="../assets/add-icon.png" class="icon" (click)="toggleVisibility2(sprint)">
            <img src="../assets/edit-icon.png" class="icon">
            <img src="../assets/delete-icon.png" class="icon" (click)="removeSprint(sprint.id)">
          </div>
        </div>
        <p class="description">{{sprint?.description}}</p>
        <app-issues [sprint]="sprint" [(project)]="project"></app-issues>
      </div>
    </div>
  </div>
  <ng-template #noSprints>
    <div class="noSprints">No Sprints Yet!</div>
  </ng-template>
</div>

<div *ngIf="visible" class="form-container">
  <app-project-form (action)="myValueChange($event);"></app-project-form>
</div>
<div *ngIf="visible2" class="form-container">
  <app-issue-form (action)="myValueChange2($event);" [currentSprint]="currentSprint"></app-issue-form>
</div>