.issues-table {
    margin:30px 0;
    display: flex;
    justify-content: space-between;
}

.issue-type{
    flex:1;
    text-align: start;
    border:1px solid rgba(167, 167, 167, 0.09);
}

.issue-list{
    /* margin-bottom:10px; */
    display: flex;
    justify-content: center;
}

.bug, .feature, .task{
    margin: 20px 0;
    cursor: pointer;
}

.bug{
    border-left: 8px solid #AE1515;
    border-bottom: 1px solid #AE1515;
    background-color: rgba(255, 0, 0, 0.03);
}

.feature{
    border-left: 8px solid #03263E;
    border-bottom: 1px solid #03263E;
    background-color: rgba(19, 70, 241, 0.03);
}

.task{
    border-left: 8px solid rgb(31, 82, 55);
    border-bottom: 1px solid rgb(31, 82, 55);
    background-color: rgba(9, 107, 32, 0.05);
}

.bug:hover{
    background-color: rgba(255, 0, 0, 0.28);
}

.feature:hover{
    background-color: rgba(19, 70, 241, 0.19);
}

.task:hover{
    background-color: rgba(9, 107, 32, 0.43);;
}

.title{
    font-size:1.4em;
    border-bottom: 1px solid grey;
    text-align: center;
}

.description{
    font-style: italic;
}

.date{
    color:grey;
    font-size:0.8em;
}

.issue-type p:first-of-type{
    font-size: 1.3em;
    text-align: center;
}