main.homepage {
    max-width: 60%;
    margin: 100px auto;
    text-align: center;
}

.body{
    border-top:1px solid #00838F;
}

h2.homepage-subtitle {
    padding: 50px 200px;
    font-weight: 100;
    font-size: 25px;
    color: #9aa3a9;
    letter-spacing: 0.5px;
    line-height: 38px;
}

.movies-link {
    display: block;
    margin: 20px auto;
    padding: 15px 10px;
    border: 1px solid #00838F;
    border-radius: 5px;
    max-width: 300px;
    text-decoration: none;
    letter-spacing: 0.5px;
    cursor: pointer;
    color: #F4F6F0;
    font-size: 18px;
}

.movies-link:hover {
    background-color: #00838F;
}