p {
    margin:0;
}

.movie-info img {
    height: 250px;
    margin:0 auto;
}

.movie {
    width: 250px;
    padding: 0 10px;
    margin-top: 1px;
    margin-left: 1px;
}

.movie-container {
    padding-top:70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.movie-info{
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: row; 
    color: #9aa3a9;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
}

.title {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    padding: 20px;
    color: #F4F6F0;
    font-weight: 200;
    border-bottom: 1px  solid rgb(105, 105, 105);
}

.title:hover {
    transition: 500ms;
    border-bottom: 1px  solid #00838F;
}

.description {
    margin-left:20px;
    font-size: 15px;
    color: #9aa3a9;
    text-align: justify;
    padding-top: 20px;
    line-height: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
}

.error {
    padding: 50px 200px;
    font-weight: 100;
    font-size: 25px;
    color: #9aa3a9;
    letter-spacing: 0.5px;
    line-height: 38px;
    margin: 0 auto;
}