<div class="body">
<div class="movie-container">
  <div class="movie" *ngFor="let movie of movies">
    <a routerLink="/detail/{{movie.id}}"><h1 class="title"> {{movie.title}} </h1></a>
    <a routerLink="/detail/{{movie.id}}"><div class="movie-info">
      <img *ngIf="movie.picture" [src]=movie.picture>
      <img *ngIf="!movie.picture" src="../assets/default-poster.png">
    </div></a>
    <p class="description"> Description: {{movie.description}} </p>
  </div>
  <div *ngIf="!movies" class="error">No movies available at the moment.</div>
</div>
</div>